<div id="content" class="main-content-wrapper">
    <div class="page-content-inner enable-page-sidebar">
        <div class="container-fluid">
            <div class="row shop-sidebar mt-md-2 pt--30 pt-md--15 pt-sm--10 pb--90 pb-md--70 pb-sm--50">
                <div class="col-lg-9 order-lg-2" id="main-content">
                    <div class="shop-toolbar">
                        <div class="shop-toolbar__inner">
                            <div class="row align-items-center">
                                <div class="col-md-6 text-md-left text-center mb-sm--5">
                                    <div class="shop-toolbar__left">
                                        <p class="product-pages">显示方式</p>
                                        <div class="product-view-count">
                                            <p>Show</p>
                                            <ul>
                                                <li><a href="shop-sidebar.html">6</a></li>
                                                <li class="active"><a href="shop-sidebar.html">12</a></li>
                                                <li><a href="shop-sidebar.html">15</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shop-toolbar__right">
                                        <a href="#" class="product-filter-btn shop-toolbar__btn">
                                            <span>过滤器</span>
                                            <i></i>
                                        </a>
                                        <div class="product-ordering">
                                            <a href="" class="product-ordering__btn shop-toolbar__btn">
                                                <span>按排序</span>
                                                <i></i>
                                            </a>
                                            <ul class="product-ordering__list">
                                                <li class="active"><a href="#">按人气排序</a></li>
                                                <li><a v-on:click="orderByPrice('ASC')">按价格排序：从低到高</a></li>
                                                <li><a v-on:click="orderByPrice('DESC')">按价格排序：从高到低</a></li>
                                            </ul>
                                        </div>
                                        <div class="product-view-mode">
                                            <a class="active" href="#" data-target="grid">
                                                <i class="fa fa-th"></i>
                                            </a>
                                            <a href="#" data-target="list">
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advanced-product-filters">
                            <div class="product-filter">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="product-widget product-widget--price">
                                            <h3 class="widget-title">价格</h3>
                                            <ul class="product-widget__list">
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span class="ammount">$20.00</span>
                                                        <span> - </span>
                                                        <span class="ammount">$40.00</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span class="ammount">$40.00</span>
                                                        <span> - </span>
                                                        <span class="ammount">$50.00</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span class="ammount">$50.00</span>
                                                        <span> - </span>
                                                        <span class="ammount">$60.00</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span class="ammount">$60.00</span>
                                                        <span> - </span>
                                                        <span class="ammount">$80.00</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span class="ammount">$80.00</span>
                                                        <span> - </span>
                                                        <span class="ammount">$100.00</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span class="ammount">$100.00</span>
                                                        <span> + </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="product-widget product-widget--brand">
                                            <h3 class="widget-title">品牌</h3>
                                            <ul class="product-widget__list">
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span>Airi</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span>Mango</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span>Valention</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar.html">
                                                        <span>Zara</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="product-widget product-widget--color">
                                            <h3 class="widget-title">颜色</h3>
                                            <ul class="product-widget__list product-color-swatch">
                                                <li>
                                                    <a href="shop-sidebar" class="product-color-swatch-btn blue">
                                                        <span class="product-color-swatch-label">蓝色</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar" class="product-color-swatch-btn green">
                                                        <span class="product-color-swatch-label">绿色</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar" class="product-color-swatch-btn pink">
                                                        <span class="product-color-swatch-label">粉色</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar" class="product-color-swatch-btn red">
                                                        <span class="product-color-swatch-label">红色</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar" class="product-color-swatch-btn grey">
                                                        <span class="product-color-swatch-label">灰色</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="product-widget product-widget--size">
                                            <h3 class="widget-title">尺寸</h3>
                                            <ul class="product-widget__list">
                                                <li>
                                                    <a href="shop-sidebar">
                                                        <span>L</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar">
                                                        <span>M</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar">
                                                        <span>S</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar">
                                                        <span>XL</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-sidebar">
                                                        <span>XXL</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="btn-close"><i class="dl-icon-close"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-products">
                        <div class="row xxl-block-grid-5 grid-space-20" >
                            <div class="col-xl-3 col-lg-4 col-sm-6 ptb--10 mb--20" v-for="item in items" :key="item.id">
                                <div class="zuka-product thumb-has-effect">
                                    <div class="product-inner">
                                        <figure class="product-image">
                                            <div class="product-image--holder">
                                                <!--获取id当页面详情跳转页-->
                                                <a :href="'/item/'+item.id+'.html'">
                                                    <img :src="item.image" alt="Product Image" class="primary-image">
                                                    <img :src="item.image" alt="Product Image" class="secondary-image">
                                                </a>
                                            </div>
                                            <div class="zuka-product-action">
                                                <div class="product-action d-flex flex-column align-items-end">
                                                    <a class="quickview-btn action-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="详情">
                                                                <span data-toggle="modal" data-target="#productModal" >
                                                                    <i class="dl-icon-view"></i>
                                                                </span>
                                                    </a>
                                                    <a class="add_wishlist action-btn" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="收藏">
                                                        <i class="dl-icon-heart4"></i>
                                                    </a>
                                                    <a class="add_compare action-btn" href="compare.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="相比">
                                                        <i class="dl-icon-compare"></i>
                                                    </a>
                                                    <a class="add_to_cart_btn action-btn" href="cart.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="添加到购物车">
                                                        <i class="dl-icon-cart29"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figure>
                                        <div class="product-info text-center">
                                            <div class="star-rating star-four">
                                                <span>Rated <strong class="rating">4.00</strong> out of 5</span>
                                            </div>
                                            <h3 class="product-title">
                                                <a v-on:click="findItemById(item.id)">{{item.title}}</a>
                                            </h3>
                                            <span class="product-price-wrapper">
                                                        <span class="money">&pound;{{item.price}}.00</span>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="zuka-product-list thumb-has-effect">
                                    <div class="product-inner" >
                                        <figure class="product-image">
                                            <div class="product-image--holder">
                                                <!--获取id当页面详情跳转页-->
                                                <a :href="'/item/'+item.id+'.html'">
                                                    <img :src="item.image" alt="Product Image" class="primary-image">
                                                    <img :src="item.image" alt="Product Image" class="secondary-image">
                                                    <div class="product-overlay"></div>
                                                </a>
                                            </div>
                                            <div class="product-thumbnail-action">
                                                <a class="quickview-btn action-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Shop">
                                                            <span data-toggle="modal"  data-target="#productModal">
                                                                <i class="dl-icon-view"></i>
                                                            </span>
                                                </a>
                                            </div>

                                        </figure>
                                        <div class="product-info">
                                            <div class="star-rating star-four">
                                                <span>Rated <strong class="rating">4.00</strong> out of 5</span>
                                            </div>
                                            <h3 class="product-title mt--20 mb--20">
                                                <a href="product-details.html   ">{{item.title}}</a>
                                            </h3>
                                            <span class="product-price-wrapper mb--10">
                                                        <span class="money">&pound;{{item.price}}.00</span>
                                                    </span>
                                            <p class="product-short-description mb--20">
                                                Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu.
                                            </p>
                                            <div class="zuka-product-action zuka-product-action-list">
                                                <div class="product-action">
                                                    <a class="add_wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                                                        <i class="dl-icon-heart4"></i>
                                                    </a>
                                                    <a class="btn add_to_cart_btn" href="cart.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart">
                                                        <span>Add To Cart</span>
                                                    </a>
                                                    <a class="add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Compare">
                                                        <i class="dl-icon-compare2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="pagination-wrap">
                        <ul class="pagination">
                            <li><a href="shop-sidebar.html" class="prev page-number"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><span class="current page-number"></span></li>
                            <li><a href="shop-sidebar.html" class="next page-number"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 order-lg-1 mt--25 mt-md--40" id="primary-sidebar">
                    <div class="sidebar-widget">
                        <!-- Category Widget Start -->
                        <div class="product-widget categroy-widget mb--35 mb-md--30">
                            <h3 class="widget-title">Categories</h3>
                            <ul class="prouduct-categories product-widget__list">
                                <li v-for="cat in commodityAll" :key="cat.id" >
                                    <a v-on:click="goFind(cat.id)">{{cat.name}}</a>
                                    <span class="count">({{cat.sortOrder}})</span>
                                </li>
                            </ul>
                        </div>
                        <!-- Category Widget Start -->

                        <!-- Price Filter Widget Start -->
                        <div class="product-widget product-price-widget mb--40 mb-md--35">
                            <h3 class="widget-title">Price</h3>
                            <div class="widget_content">
                                <form action="#" method="post">
                                    <div id="slider-range" class="price-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all">

                                        </div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all">

                                                </span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all">

                                                </span>
                                    </div>
                                    <div class="filter-price">
                                        <div class="filter-price__count">
                                            <div class="filter-price__input-group">
                                                <span>Price: </span>
                                                <input type="text" id="amount" class="amount-range" readonly="false">
                                            </div>
                                            <button type="submit" class="btn btn-style-1 btn-shape-round sidebar-btn">
                                                filter
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Price Filter Widget End -->

                        <!-- Category Widget Start -->
                        <div class="product-widget tag-widget mb--35 mb-md--30">
                            <h3 class="widget-title">Categories</h3>
                            <div class="tagcloud">
                                <a v-on:click="goFind(cat.id)" v-for="cat in commodityAll" :key="cat.id">{{cat.name}}</a>
                            </div>
                        </div>
                        <!-- Category Widget Start -->

                        <!-- Promo Widget Start -->
                        <div class="product-widget promo-widget">
                            <div class="banner-box banner-type-3 banner-type-3-2 banner-hover-3">
                                <div class="banner-inner">
                                    <div class="banner-image">
                                        <img src="/assets/img/banner/shop_banner_sidebar_01.jpg" alt="Banner">
                                    </div>
                                    <div class="banner-info">
                                        <div class="banner-info--inner">
                                            <p class="banner-title-2 font-normal color--white">Man Fashion</p>
                                            <p class="banner-title-7 color--white">男士时尚</p>
                                        </div>
                                    </div>
                                    <a class="banner-link banner-overlay" href="shop-sidebar">现在去购物</a>
                                </div>
                            </div>
                        </div>
                        <!-- Promo Widget End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var content = new Vue({
        el: "#content",
        created() {
            //获取请求参数
            ly.http.get("/item/").then(resp => {
                this.items = resp.data.items;
            }),
            ly.http.get("/item/getCats").then(resp => {
                this.commodityAll = resp.data;
            })
        },
        data: {
            items:{},
            commodityAll:{},
        },
        methods:{
            goFind(id) {
                ly.http.get("/item/getItemsByCid?id="+id).then(resp => {
                    this.items = resp.data;
                })
            },
            findItemById(id){
                ly.http.get("/item/getItemsByCid?id="+id).then(resp => {
                    this.items = resp.data;
                })
            },
            orderByPrice(orderWay){
                ly.http.get("/item/queryItemsByPrice?orderWay="+orderWay).then(resp => {
                    this.items = resp.data;
                })
            }
        },
        components:{
            // lsTop:() => import('./assets/js/pages/lstop.js')
        }

    })

</script>