<!--展示数据抽取出页面-->
<section class="product-tab-area pt--10 pt-sm--5 pb--45 pb-md--25 pb-sm--5" id="data">
    <div class="container-fluid">
        <div class="row mb--30 mb-md--25">
            <div class="col-12 text-center">
                <h2 class="heading-secondary-3">新产品</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-tab tab-style-4">
                    <div class="nav nav-tabs product-tab__head mb--30 mb-sm--5" id="food-product-tab" role="tablist">
                        <a class="product-tab__link nav-link active" id="nav-food-all-tab" data-toggle="tab" href="#nav-food-all" role="tab" aria-selected="true"   v-for="cat in cats" :key="cat.id">
                            <span v-on:click="goFind(cat.id)">{{cat.name}}</span>
                        </a>
                    </div>
                    <div class="tab-content product-tab__content" id="food-product-tab-content">
                        <div class="tab-pane fade show active" id="nav-food-all" role="tabpanel" aria-labelledby="nav-food-all-tab">
                            <div class="row xxl-block-grid-5 grid-space-20">
                                <div class="col-xl-3 col-lg-4 col-sm-6 ptb--10 mb--20" v-for="item in items" :key="item.id">
                                    <div class="zuka-product thumb-has-effect">
                                        <div class="product-inner">
                                            <figure class="product-image">
                                                <div class="product-image--holder">
                                                    <!--获取id当页面详情跳转页-->
                                                    <a :href="'/item/'+item.id+'.html'" target="_blank">
                                                        <img :src="item.image" alt="Product Image" class="primary-image">
                                                        <img :src="item.image" alt="Product Image" class="secondary-image">
                                                    </a>
                                                </div>
                                                <div class="zuka-product-action">
                                                    <div class="product-action d-flex flex-column align-items-end">
                                                        <a class="add_wishlist action-btn" href="../wishlist.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                                                            <i class="dl-icon-heart4"></i>
                                                        </a>
                                                        <a class="add_to_cart_btn action-btn" @click="addCart(item.id)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart">
                                                            <i class="dl-icon-cart29"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </figure>
                                            <div class="product-info text-center">
                                                <div class="star-rating star-four">
                                                    <span>Rated <strong class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <h3 class="product-title">
                                                    <a href="../product-details.html" v-text="item.title"></a>
                                                </h3>
                                                <span class="product-price-wrapper">
                                                    <span class="money">£{{item.price}}.00</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var myData = new Vue({
        el: "#data",
        name:"ls-data",
        created() {
            //获取请求参数
            ly.http.get("/item/").then(resp => {
                this.items = resp.data.items;
            })
            //查询分类
            ly.http.get("/item-service/itemCat").then(resp => {
                this.cats = resp.data;
            })
        },
        data: {
            ly,
            cart,
            cats:{},    //商品分类
            items:{},
            item:{},    //点击购物时，该商品数据
            num: 1,     //数量
        },
        methods:{
            decrement() {   //减少商品
                if (this.num > 1) {
                    this.num--;
                }
            },
            increment() { //增加商品
                this.num++;
            },
            goFind(cid) {
                //查询分类下所有商品
                ly.http.get("/item/cid?cid="+cid).then(resp => {
                    this.items = resp.data;
                })
            },
            addCart(cid) {  //添加购物车
                // 判断是否登录
                this.item = this.items.find(i => i.id === cid); //查找到该商品
                ly.verifyUser().then(() => {
                    // 已登录
                    ly.http.post("/cart", {
                        id: this.item.id,
                        title: this.item.title,
                        image: this.item.image,
                        price: this.item.price,
                        num:this.num,
                        stock:this.item.num,//商品库存
                        sellPoint:this.item.sellPoint
                    }).then(() => {
                        // 跳转到购物车列表页
                        window.location.href = "http://www.leshang.com/cart.html";
                    }).catch(() => {
                        alert("添加购物车失败，请重试！");
                    })
                }).catch(() => {
                    // 获取以前的购物车
                    const carts = ly.store.get("carts") || [];
                    // 获取与当前商品id一致的购物车数据
                    const cart = carts.find(i => i.id === cid); //查找到该商品
                    if (cart) {
                        // 存在，修改数量
                        cart.num += this.num;
                    } else {
                        // 不存在，新增
                        carts.push({
                            id: this.item.id,
                            title: this.item.title,
                            image: this.item.image,
                            price: this.item.price,
                            num:this.num,
                            stock:this.item.num,    //商品库存
                            sellPoint:this.item.sellPoint
                        })
                    }
                    // 未登录
                    ly.store.set("carts", carts);
                    // 跳转到购物车列表页
                    window.location.href = "http://www.leshang.com/cart.html";
                })
            }
        },

    })
</script>