<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Seta description">
    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/img/icon.png">

    <!-- Title -->
    <title>确认收货</title>

    <!-- ************************* CSS Files ************************* -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- All Plugins CSS  -->
    <link rel="stylesheet" href="/assets/css/plugins.css">

    <!-- Revoulation CSS  -->
    <link rel="stylesheet" href="/assets/css/revoulation.css">

    <!-- style CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- modernizr JS
    ============================================ -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- ************************* Vue Files ************************* -->
    <script src="assets/js/vue/vue.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script>Vue.config.productionTip = false</script>

</head>

<body class="default-color">

    <!-- Preloader Start -->
    <div class="zuka-preloader active">
        <div class="zuka-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="zuka-child zuka-bounce1"></div>
            <div class="zuka-child zuka-bounce2"></div>
            <div class="zuka-child zuka-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Header Area Start -->
        <!-- 头部栏位 -->
        <header class="header header-st yle-3" id="nav-top">
            <shortcut/>
        </header>
        <script type="text/javascript">
            var indexVm = new Vue({
                el:"#nav-top",
                components:{
                    shortcut:() => import('./assets/js/pages/shop.js')
                }
            });
        </script>
        <!-- Header Area End -->
        <!-- Breadcrumb area Start -->
        <div class="breadcrumb-area pt--40 pb--30 pb-md--20">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">结算</h1>
                        <ul class="breadcrumb justify-content-center">
                            <li><a href="index">主页</a></li>
                            <li class="current"><span>结算</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->

        <div id="content" class="main-content-wrapper">
            <div class="page-content-inner">
                <div class="container">
                    <div class="row pt--50 pt-md--40 pt-sm--20">
                        <div class="col-12">
                            <!-- User Action Start -->
                            <div class="user-actions user-actions__coupon">
                                <div class="message-box mb--30 mb-sm--20">
                                    <p><i class="fa fa-exclamation-circle"></i><a class="expand-btn" href="#coupon_info">请填写好地址信息</a></p>
                                </div>
                            </div>
                            <!-- User Action End -->
                        </div>
                    </div>
                    <div class="row pb--80 pb-md--60 pb-sm--40">
                        <!-- Checkout Area Start -->
                        <div class="col-lg-6" v-if="!hasAddress">
                            <div class="checkout-title mt--10">
                                <h2>填写信息</h2>
                            </div>
                            <div class="checkout-form" >
                                <form action="/order/submitOrder" class="form form--checkout" id="form" ref="formName" method="post">
                                    <div class="form-row mb--30">
                                        <div class="form__group col-md-6 mb-sm--30">
                                            <label for="billing_fname" class="form__label form__label--2">收货人姓名<span class="required">*</span></label>
                                            <input type="text" name="receiverName" placeholder="请输入您的用户名" id="billing_fname"  v-model="address.realname"  class="form__input form__input--2">
                                        </div>
                                    </div>

                                    <div class="form-row mb--30">
                                        <div class="form__group col-4" >
                                            <label for="billing_country" class="form__label form__label--2" >省份 <span class="required">*</span></label>
                                            <select id="billing_country" name="receiverState" v-model="address.province" class="form__input form__input--2">
                                                <option v-for="p in this.area.provinces"  :value="p.areaName" >{{p.areaName}}</option>
                                            </select>
                                        </div>
                                        <div class="form__group col-4">
                                            <label for="billing_country" class="form__label form__label--2">城市 <span class="required">*</span></label>
                                            <select  name="receiverCity" v-model="address.city" class="form__input form__input--2">
                                                <option v-for="p in this.area.cities"  :value="p.areaName" >{{p.areaName}}</option>
                                            </select>
                                        </div>
                                        <div class="form__group col-4">
                                            <label for="billing_country" class="form__label form__label--2">县/区 <span class="required">*</span></label>
                                            <select id="receiver_city" v-model="address.area" name="receiverCity" class="form__input form__input--2">
                                                <option v-for="p in this.area.downtowns"  :value="p.areaName" >{{p.areaName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row mb--30">
                                        <div class="form__group col-6">
                                            <label for="billing_streetAddress" class="form__label form__label--2">街道地址 <span class="required">*</span></label>
                                            <input type="text" name="receiverAddress" v-model="address.street" id="billing_streetAddress" class="form__input form__input--2 mb--30" placeholder="" value="">
                                        </div>
                                        <div class="form__group col-6">
                                            <label for="billing_streetAddress" class="form__label form__label--2">邮政编码  </span><span style="color: red;" v-show="errors.has('zip')">{{ errors.first('zip') }}</span> </label>
                                            <input type="text" name="zip" v-model="address.zip" placeholder="请输入你的邮政编码" data-vv-as="邮政编码"
                                                   v-validate="{min:6}"  class="form__input form__input--2 mb--30" placeholder="" value="">
                                        </div>
                                    </div>
                                    <div class="form-row mb--30">
                                        <div class="form__group col-12">
                                            <label for="billing_phone" class="form__label form__label--2">手机号码 <span class="required">*  </span><span style="color: red;" v-show="errors.has('telphone')">{{ errors.first('telphone') }}</span></label>
                                            <input type="text" name="telphone" placeholder="请输入你的手机号" data-vv-as="手机号" v-validate="{required:true,regex:/^1[35678]\d{9}$/}"
                                                   v-model="address.telphone" id="billing_phone" class="form__input form__input--2" value="">
                                        </div>
                                    </div>
                                    <div class="form-row mb--30">
                                        <div class="form__group col-12">
                                            <button type="button" class="btn btn-fullwidth btn-style-1" @click.prevent="handleAdd">添加地址</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6" v-else>
                            <div class="checkout-title mt--10">
                                <h2>收货地址</h2>
                            </div>
                            <div class="checkout-form" v-for="(ad,i) in addresses">
                                <div class="form-row mb--30">
                                    <div class="payment-radio col-md-4 mb-sm--30">
                                        <input type="radio" :value="ad.addressId" @click.prevent="handleSelect(ad)" name="payment-method" v-model="selectedAddress" >
                                        <label class="payment-label" for="cheque" v-text="ad.realname+' '+ad.telphone"></label>
                                    </div>
                                    <div class="payment-info col-md-6" :data-method="i">
                                        <p>{{ad.province}} {{ad.city}}  {{ad.area}}  {{ad.street}} {{ad.zip}}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#" style="margin-top: 2px" class="remove-from-cart remove" @click.prevent="handleEdit(ad)" >
                                            <i class="dl-icon-edit"></i>
                                        </a>
                                        <a href="#" style="margin-top: 2px" class="remove-from-cart remove" @click.prevent="handleDelete(ad)" >
                                            <i class="dl-icon-close"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                            <div class="order-details">
                                <div class="checkout-title mt--10">
                                    <h2>你的订单</h2>
                                </div>
                                <div class="table-content table-responsive mb--30">
                                    <table class="table order-table order-table-2">
                                        <thead>
                                            <tr>
                                                <th>产品</th>
                                                <th class="text-right">总计</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(cart,i) in carts" :key="cart.id" v-if="i<3">
                                                <th >
                                                    <strong>{{cart.title}}<span>&#10005;</span>{{cart.num}}</strong>
                                                </th>
                                                <td class="text-right" v-text="cart.price*cart.num+'.00'"></td>
                                            </tr>
                                            <tr v-else-if="i==4">
                                                <th >
                                                    <strong>.....</strong>
                                                </th>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>总价</th>
                                                <td class="text-right" v-text="totalPrice+'.00'"></td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>运费</th>
                                                <td class="text-right">
                                                    <span>20.00</span>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>合计订单; </th>
                                                <td class="text-right"><span class="order-total-ammount" v-text="totalPrice+20+'.00'"></span></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="checkout-payment">
                                        <div class="payment-group mt--20">
                                            <p class="mb--15">您的个人数据将用于处理您的订单，支持您在整个网站的体验，以及我们的隐私政策中描述的其他目的。</p>
                                            <button type="button" class="btn btn-fullwidth btn-style-1" @click.prevent="submit">提交订单</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout Area End -->
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-left" id="myModalLabel">修改地址</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/order/submitOrder" class="form form--checkout"  method="post">
                                        <div class="form-row mb--30">
                                            <div class="form__group col-md-6 mb-sm--30">
                                                <label for="billing_fname" class="form__label form__label--2">收货人姓名<span class="required">*</span></label>
                                                <input type="text" name="receiverName" placeholder="请输入您的用户名"  v-model="address.realname"  class="form__input form__input--2">
                                            </div>
                                        </div>

                                        <div class="form-row mb--30">
                                            <div class="form__group col-4" >
                                                <label for="billing_country" class="form__label form__label--2" >省份 <span class="required">*</span></label>
                                                <select  name="receiverState" v-model="address.province" class="form__input form__input--2">
                                                    <option v-for="p in this.area.provinces"  :value="p.areaName" >{{p.areaName}}</option>
                                                </select>
                                            </div>
                                            <div class="form__group col-4">
                                                <label for="billing_country" class="form__label form__label--2">城市 <span class="required">*</span></label>
                                                <select  name="receiverCity" v-model="address.city" class="form__input form__input--2">
                                                    <option v-for="p in this.area.cities"  :value="p.areaName" >{{p.areaName}}</option>
                                                </select>
                                            </div>
                                            <div class="form__group col-4">
                                                <label for="billing_country" class="form__label form__label--2">县/区 <span class="required">*</span></label>
                                                <select  v-model="address.area" class="form__input form__input--2">
                                                    <option v-for="p in this.area.downtowns"  :value="p.areaName" >{{p.areaName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row mb--30">
                                            <div class="form__group col-6">
                                                <label for="billing_streetAddress" class="form__label form__label--2">街道地址 <span class="required">*</span></label>
                                                <input type="text" name="receiverAddress" v-model="address.street"class="form__input form__input--2 mb--30" placeholder="" value="">
                                            </div>
                                            <div class="form__group col-6">
                                                <label for="billing_streetAddress" class="form__label form__label--2">邮政编码  </span><span style="color: red;" v-show="errors.has('zip')">{{ errors.first('zip') }}</span> </label>
                                                <input type="text" name="zip" v-model="address.zip" placeholder="请输入你的邮政编码" data-vv-as="邮政编码"
                                                       v-validate="{min:6}"  class="form__input form__input--2 mb--30" placeholder="" value="">
                                            </div>
                                        </div>
                                        <div class="form-row mb--30">
                                            <div class="form__group col-12">
                                                <label for="billing_phone" class="form__label form__label--2">手机号码 <span class="required">*  </span><span style="color: red;" v-show="errors.has('telphone')">{{ errors.first('telphone') }}</span></label>
                                                <input type="text" name="telphone" placeholder="请输入你的手机号" data-vv-as="手机号" v-validate="{required:true,regex:/^1[35678]\d{9}$/}"
                                                       v-model="address.telphone"  class="form__input form__input--2" value="">
                                            </div>
                                        </div>
                                    </form>
                                 </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                                     <button type="button" id="btn_submit" @click.prevent="handleAdd" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                                 </div>
                             </div>
                         </div>
                     </div>
                    <!--模态框组件-->
                    <div class="modal fade" id="myModal1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>提示</h3>
                                </div>
                                <div class="modal-body">
                                    <p>{{msg}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->
        <script src="assets/js/validate.js"></script>
        <script type="text/javascript">
            Vue.use(VeeValidate, {
                events: 'blur',
                dictionary: {
                    zh: {
                        messages: {
                            required: (field) => field + '不能为空！',
                            min: (field, args) => field + '长度不能小于' + args[0],
                            max: (field, args) => field + '长度不能大于' + args[0],
                            alpha_dash: (field) => field + '只能包含数字、字母或下划线',
                            regex: (field) => field + "格式不正确",
                            is: () => "两次密码不一致"
                        }
                    }
                },
                locale: 'zh'
            });
            var checkout = new Vue({
                el: "#content",
                name: "ls-checkout",
                data(){
                    // 手机号的校验规则
                    var checkPhone = (rule, value, callback) => {
                        const regex = /^[1][3,4,5,7,8][0-9]{9}$/;
                        if (!value) {
                            return callback(new Error('手机号不能为空'));
                        } else if (!regex.test(value)) {
                            return callback(new Error("请输入正确的手机号"));
                        } else {
                            callback();
                        }
                    };
                    // 邮编的校验规则
                    var checkReceiveZip = (rule, value, callback) => {
                        const regex = /^[0-9]{6}$/;
                        if (!regex.test(value)) {
                            return callback(new Error("请输入正确的邮编"));
                        } else {
                            callback();
                        }
                    };
                    return {
                        ly,
                        user:{
                            id:'',
                            username:''
                        },
                        addresses: [],					// 可选地址列表,需要从后台查询
                        address: {                  // 地址
                            userId: "",
                            realname: "",
                            telphone: "",
                            province: "",
                            city: "",
                            area: "",
                            street: "",
                            zip:"",
                            isDefault: 1    //添加新地址默认为1
                        },
                        selectedAddress: 1, //选中
                        selected:{},
                        carts: [],					// 要下单的商品的信息
                        order: {
                            paymentType: 1,			// 支付方式，默认是1微信
                            postFee: 0,				// 邮费
                            discount: 0				// 优惠
                        },
                        state:"",   //地区监听值
                        city:"",    //地区监听值
                        isEdit: false,               // 是否是编辑还是新增地址
                        showDialog: false,           // 新增地址弹窗显示
                        allAreas: [],                   // 所有的省市区
                        area: {
                            provinces: [],               // 省信息数组
                            cities: [],                  // 市信息数组
                            downtowns: []                // 县信息数组
                        },
                        hasAddress:false, //todo					// 用户是否填写过地址信息
                        msg:"",
                    }
                },
                created(){
                    // 查询省市区信息
                    ly.http.get("user-service/address").then(({data}) => {
                        this.allAreas = data;
                        this.area.provinces = data.filter(c => c.parentId === 1)
                    });
                     this.loadOrders()
                },
                watch:{
                    "address.province"(val, oldval) {
                        let province = this.allAreas.filter(c => c.areaName === val )
                        this.area.cities = this.allAreas.filter(c => c.parentId === province[0].areaId ) || [];
                    },
                    "address.city"(val, oldval) {
                        let city = this.allAreas.filter(c => c.areaName === val )
                        this.area.downtowns = this.allAreas.filter(c => c.parentId === city[0].areaId ) || [];
                    }
                },
                methods:{
                    loadAddressData(){
                        // 从后台查询用户的地址信息
                        ly.http.get("user-service/address/"+this.user.id).then(({data}) => {
                            // 判断该用户是否填写过地址信息
                            if (data != null && data.length != 0 && data != undefined) {
                                this.addresses = data;
                                // 选择的地址
                                this.selected = this.addresses.find(a => a.isDefault) || this.addresses[0];
                                // 找到默认选择的地址
                                this.selectedAddress = this.selected.addressId;
                                this.hasAddress = true;
                            } else {
                                // 如果没有填写过地址
                                this.hasAddress = false;
                            }
                        });
                    },
                    // 先判断是否登陆
                    loadOrders(){
                        ly.verifyUser().then((resp) => {
                            this.user = resp.data;
                            this.address.realname = this.user.username;
                            this.address.userId = this.user.id;
                            this.loadAddressData();
                            // 如果购物车中没有东西
                            if (!ly.store.get("selectedCarts").length) {
                                window.location.href = "/index.html";
                            }
                            this.carts = ly.store.get("selectedCarts");


                        }).catch((resp) => {
                            // 未登录，跳转至登陆页面
                            if(resp.status != 200 ){
                                window.location.href = "/login.html?returnUrl=" + window.location.href;
                            }
                        })
                    },
                    // 提交订单
                    submit(){
                        ly.verifyUser().then(() => {
                            const order = {
                                paymentType:this.order.paymentType,
                                carts:[],
                                addressId:this.selectedAddress,
                            };
                            this.carts.forEach(c => order.carts.push({id:c.id,num:c.num,sellPoint:c.sellPoint}));
                            console.log(order);
                            ly.http.post("/order/order",order,{
                                // 由于js自动对Long数值进行JSON.parse转换，数值太大，会有精度丢失
                                // 添加一个回调函数，直接返回返回值，不进行转换
                                transformResponse: [
                                    function (data) {
                                        return data;
                                    }
                                ]
                            }).then(({data}) => {
                                // 点击提交，发送请求去后台删除购物车中这些订单中的商品
                                const skuIds = this.carts.map(c => c.id).join(",");
                                ly.http.delete("cart/delete?ids="+skuIds).then(() => {
                                    // 清除localStorage中的selectedCarts
                                    ly.store.del("selectedCarts");
                                    // 删除成功跳转至支付页面
                                    window.location.href = "/pay.html?orderId=" + data;
                                }).catch(() => {
                                    alert("抱歉，服务器繁忙")
                                })
                            }).catch(() => {
                                alert("服务器繁忙")
                            })
                        }).catch(() => {
                            // location.href = "/login.html?returnUrl=" + location.href;
                        })
                    },
                    // 提交地址
                    handleAdd() {
                        // 判断是否登陆
                        this.$validator.validateAll().then(d => {
                                if (d) {
                                    ly.verifyUser().then(() => {
                                        const {areaAddress,...address} = this.address;
                                        // address.areaAddress = Object.values(this.address.areaAddress).join("-");
                                        console.log(address);
                                        // 发送请求
                                        ly.http({
                                            method:this.isEdit?"put":"post",
                                            url:"user-service/address",
                                            data:address
                                        }).then(() => {
                                            $('#myModal1').modal();
                                            this.msg = "操作成功！";
                                            this.address = {};
                                            this.loadAddressData();
                                        }).catch(() => {
                                            console.log("服务器异常,保存失败")
                                        });
                                    }).catch(() => {
                                        // location.href = "/login.html?returnUrl=" + location.href;
                                    })
                                }
                        })

                    },
                    // 编辑地址的方法
                    handleEdit(row) {
                        this.isEdit = true;
                        $('#myModal').modal();
                        const {areaAddress,...params} = row;
                        Object.assign(this.address,params);
                    },
                    // 删除地址的方法
                    handleDelete(row){
                        ly.verifyUser().then(() => {
                            if(confirm("确定删除该地址?")){
                                ly.http.delete("user-service/address/" + row.addressId).then(() => {
                                    this.loadAddressData();
                                }).catch(() => {
                                    console.log("服务器异常,删除失败")
                                })
                            }
                        }).catch(() =>{

                        })
                    },
                    // 选择地址的方法
                    handleSelect(a){
                        this.selectedAddress = a.addressId;
                        this.selected = a;
                    },
                },
                computed: {
                    //计算总价格
                    totalPrice() {
                        return this.carts.reduce((c1, c2) => c1 + c2.num * c2.price, 0);
                    },
                }
            })
        </script>
        <!-- Footer Start -->
        <footer class="footer"></footer>
        <script type="text/javascript">$(".footer").load("module/footer.html");</script>
        <!-- Footer End -->

        <!-- Search from Start -->
        <!-- Search from End -->

        <!-- Side Navigation Start -->
        <!-- Side Navigation End -->

        <!-- Mini Cart Start -->
        <dic class="minCart"></dic>
        <script type="text/javascript">$(".minCart").load("module/minCart.html");</script>
        <!-- Mini Cart End -->

        <!-- Global Overlay Start -->
        <!-- Global Overlay End -->

        <!-- Modal Start -->
        <div class="modal fade product-modal" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="dl-icon-close"></i></span>
                </button>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="zuka-element-carousel product-image-carousel nav-vertical-center nav-style-1"
                                data-slick-options='{
                                    "slidesToShow": 1,
                                    "slidesToScroll": 1,
                                    "arrows": true,
                                    "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                    "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                }'
                        >
                            <div class="product-image">
                                <div class="product-image--holder">
                                    <a href="single-product">
                                        <img src="/assets/img/products/prod-7-1.jpg" alt="Product Image" class="primary-image">
                                    </a>
                                </div>
                                <span class="product-badge sale">sale</span>
                            </div>
                            <div class="product-image">
                                <div class="product-image--holder">
                                    <a href="single-product">
                                        <img src="/assets/img/products/prod-7-2.jpg" alt="Product Image" class="primary-image">
                                    </a>
                                </div>
                                <span class="product-badge sale">sale</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="modal-box product-summary">
                            <div class="product-top-meta d-flex justify-content-between flex-sm-row flex-column-reverse">
                                <div class="product-rating d-flex">
                                    <div class="star-rating star-five">
                                        <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                                    </div>
                                    <a href="" class="review-link">评价</a>
                                </div>
                                <div class="product-navigation">
                                    <a href="#" class="prev"><i class="dl-icon-left"></i></a>
                                    <a href="#" class="next"><i class="dl-icon-right"></i></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <h3 class="product-title mb--30 mb-md--20">Fake News Network Abstract Novelty T-Shirt</h3>
                            <div class="product-price-wrapper mb--30 mb-md--20">
                                <span class="product-price-old">
                                    <span class="money">&pound;60.00</span>
                                </span>
                                <span class="money">&pound;49.00</span>
                            </div>
                            <p class="product-short-description mb--30 mb-md--20">Zuka 2019 流行单品,舒适百搭,全场购物满额享优惠!时尚,简约,优雅,舒适的穿搭体验,尽在Zuka祖卡官方旗舰店!</p>
                            <div class="product-action d-flex flex-row align-items-center mb--20">
                                <div class="quantity mr--20">
                                    <input type="number" class="quantity-input" name="qty" id="quick-qty" value="1" min="1">
                                </div>
                                <button type="button" class="btn btn-style-1 btn-semi-large btn-shape-round add-to-cart" onclick="window.location.href='cart'">
                                    加入购物车
                                </button>
                                <a href="wishlist" class="action-btn action-btn-square"><i class="dl-icon-heart2"></i></a>
                                <a href="compare" class="action-btn action-btn-square"><i class="dl-icon-compare2"></i></a>
                            </div>
                            <div class="product-extra mb--20">
                                <a href="#" class="font-size-12"><i class="fa fa-map-marker"></i>相似</a>
                            </div>
                            <div class="product-summary-footer">
                                <div class="product-meta mb--20">
                                    <span class="sku_wrapper font-size-12">SKU: <span class="sku">REF. LA-887</span></span>
                                    <span class="posted_in font-size-12">分类: <a href="shop-sidebar" rel="tag">时尚</a></span>
                                </div>
                                <div class="product-share-box">
                                    <span class="font-size-12">分享</span>
                                    <!-- Social Icons Start Here -->
                                    <ul class="social social-small">
                                        <li class="social__item">
                                            <a href="facebook.com" class="social__link">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="twitter.com" class="social__link">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="plus.google.com" class="social__link">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="plus.google.com" class="social__link">
                                                <i class="fa fa-pinterest-p"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- Social Icons End Here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal End -->

    </div>
    <!-- Main Wrapper End -->


    <!-- ************************* JS Files ************************* -->

    <!-- All Plugins Js -->
    <script src="/assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- REVOLUTION JS FILES -->
    <script src="/assets/js/revoulation/jquery.themepunch.tools.min.js"></script>
    <script src="/assets/js/revoulation/jquery.themepunch.revolution.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>

    <!-- REVOLUTION ACTIVE JS FILES -->
    <script src="/assets/js/revoulation.js"></script>
    <script>
        $(document).ready(function() {
            $('select').niceSelect('update');
        });
    </script>
</body>

</html>