<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <!-- Title -->
    <title>乐尚商城-用户详情</title>

    <!-- ************************* CSS Files ************************* -->

    <!-- All Plugins CSS  -->
    <link rel="stylesheet" href="assets/css/plugins.css">

    <!-- Revoulation CSS  -->
    <link rel="stylesheet" href="assets/css/revoulation.css">

    <!-- style CSS -->
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- modernizr JS
    ============================================ -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- ************************* Vue Files ************************* -->
    <script src="assets/js/vue/vue.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/validate.js"></script>
    <script>Vue.config.productionTip = false</script>
</head>

<body class="default-color">

<!-- Preloader Start -->
<div class="zuka-preloader active">
    <div class="zuka-preloader-inner h-100 d-flex align-items-center justify-content-center">
        <div class="zuka-child zuka-bounce1"></div>
        <div class="zuka-child zuka-bounce2"></div>
        <div class="zuka-child zuka-bounce3"></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Main Wrapper Start -->
<div class="wrapper" id="myAccount">
    <!-- Header Area Start -->
    <!-- 头部栏位 -->
    <header class="header header-st yle-3" id="shortcut">
        <div class="header-inner headroom headroom--fixed">
            <div class="top-bar d-none d-lg-block">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-4 d-none d-xl-block">
                            <!-- Social Icons Start Here -->
                            <ul class="social social-medium dark-color">
                                <li class="social__item">
                                    <a href="https://www.facebook.com" class="social__link">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://www.twitter.com" class="social__link">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://www.pinterest.com" class="social__link">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://www.youtube.com" class="social__link">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://www.plus.google.com" class="social__link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- Social Icons End Here -->
                        </div>
                        <div class="col-xl-4 text-center">
                            <div class="header__text">
                            <span>Flash sale! Off 20% All Items This Week <a
                                    href="../shop-sidebar.html">SHOP NOW</a></span>
                            </div>
                        </div>
                        <div class="col-xl-4 text-right d-none d-xl-block">
                            <div class="contact-info">
                                    <span>
                                        <i class="fa fa-phone"></i>
                                        (+612) 2531 5600
                                    </span>
                                <span>
                                        <i class="fa fa-envelope"></i>
                                        info@company.com
                                    </span>
                                <span>
                                        <i class="fa fa-map-marker"></i>
                                        Get direction
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottom d-lg-block d-none" style="background-color: #0A9400;">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-7">
                            <div class="header-bottom__left">
                                <!-- Secondary Navigation Start Here -->
                                <nav class="secondary-navigation d-xl-block d-none">
                                    <a href="#" class="secondary-nav-btn">
                                        <i class="fa fa-navicon"></i>
                                        按分类购物
                                    </a>
                                    <ul class="secondary-menu">
                                        <li><a href="">Beauty</a></li>
                                        <li><a href="">Bike</a></li>
                                        <li><a href="">Books</a></li>
                                        <li><a href="">Cell Phones &amp; Accessories</a></li>
                                        <li><a href="">Clothing</a></li>
                                        <li><a href="">Digitar Music</a></li>
                                        <li><a href="">Electronics &amp; Tech</a></li>
                                        <li><a href="">Fashions</a></li>
                                        <li><a href="">Food</a></li>
                                        <li><a href="">Furniture</a></li>
                                    </ul>
                                </nav>
                                <!-- Secondary Navigation End Here -->

                                <!-- Main Navigation Start Here -->
                                <nav class="main-navigation main-navigation-3 white-color">
                                    <ul class="mainmenu">
                                        <li class="mainmenu__item menu-item-has-children megamenu-holder active">
                                            <a href="../index.html" class="mainmenu__link">
                                                <span class="mm-text">主页</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children megamenu-holder">
                                            <a href="shop-sidebar.html" class="mainmenu__link">
                                                <span class="mm-text">商城</span>
                                                <span class="badge">热门</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item">
                                            <a href="shop-collections.html" class="mainmenu__link">
                                                <span class="mm-text">Collections</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children has-children">
                                            <a href="blog.html" class="mainmenu__link">
                                                <span class="mm-text">Blog</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li class="menu-item-has-children has-children">
                                                    <a href="#">
                                                        <span class="mm-text">Blog Grid</span>
                                                    </a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="blog-02-columns.html">
                                                                <span class="mm-text">Blog 02 Columns</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="blog-03-columns.html">
                                                                <span class="mm-text">Blog 03 Columns</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="blog.html">
                                                                <span class="mm-text">Blog Sidebar</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children has-children">
                                                    <a href="#">
                                                        <span class="mm-text">Blog List</span>
                                                    </a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="blog-classic.html">
                                                                <span class="mm-text">Blog Classic</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="blog-no-sidebar.html">
                                                                <span class="mm-text">Blog No Sidebar</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="blog-masonary.html">
                                                        <span class="mm-text">Blog Masonary</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item-has-children has-children">
                                                    <a href="#">
                                                        <span class="mm-text">Blog Details</span>
                                                    </a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="single-post.html">
                                                                <span class="mm-text">Single Post</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="single-post-sidebar.html">
                                                                <span class="mm-text">Single Post Sidebar</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mainmenu__item">
                                            <a href="shop-instagram.html" class="mainmenu__link">
                                                <span class="mm-text">New Look</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- Main Navigation End Here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Header Area End -->

    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area pt--40 pb--30 pb-md--20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="page-title">我的账户</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="index">主页</a></li>
                        <li class="current"><span>我的账户</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div id="content" class="main-content-wrapper">
        <div class="page-content-inner">
            <div class="container">
                <div class="row pt--50 pt-md--40 pt-sm--20 pb--80 pb-md--60 pb-sm--40">
                    <div class="col-12">
                        <div class="user-dashboard-tab flex-column flex-md-row">
                            <div class="user-dashboard-tab__head nav flex-md-column" role="tablist"
                                 aria-orientation="vertical">
                                <h4 style="text-align:center;padding-bottom: 12px">全部功能</h4>
                                <a class="nav-link active" data-toggle="pill" role="tab" href="#dashboard"
                                   aria-controls="dashboard" aria-selected="true">信息</a>
                                <a class="nav-link" data-toggle="pill" role="tab" href="#orders" aria-controls="orders"
                                   aria-selected="true" ref="order" >订单</a>
                                <a class="nav-link" data-toggle="pill" role="tab" href="#downloads"
                                   aria-controls="downloads" aria-selected="true" id="ziliao">个人资料</a>
                                <a class="nav-link" data-toggle="pill" role="tab" href="#accountdetails"
                                   aria-controls="accountdetails" aria-selected="true">安全设置</a>
                                <a class="nav-link" href="javascript:void(0)" id="logout">注销</a>
                            </div>
                            <div class="user-dashboard-tab__content tab-content">
                                <div class="tab-pane fade show active" id="dashboard">
                                    <p>您好！ <strong v-text="user.username"></strong> (not
                                        <strong>{{user.username}}</strong>? <a href="login">注销</a>)</p>
                                    <p>来自您的帐户信息中心。您可以轻松查看和查看<a href="">最近的订单</a>, 管理您的 <a href="">送货和帐单地址，</a> 以及 <a
                                            href="">修改密码和帐户详细信息。</a></p>
                                </div>
                                <div class="tab-pane fade" id="orders">
                                    <div class="message-box mb--30 d-none">
                                        <p><i class="fa fa-check-circle"></i>No order has been made yet.</p>
                                        <a href="shop-sidebar">Go Shop</a>
                                    </div>
                                    <div class="table-content table-responsive">
                                        <table class="table text-center">
                                            <thead>
                                            <tr>
                                                <th>订单</th>
                                                <th>日期</th>
                                                <th>状态</th>
                                                <th>总价</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody id="dindang">
                                            <tr v-for="order in order.items">
                                                <td width="30px"  v-text="order.orderId"></td>
                                                <td  v-text="order.createTime"></td>
                                                <td  v-text="order.status"></td>
                                                <td  v-text="order.totalPay+'.00'"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="downloads">
                                    <div class="message-box mb--30 d-none">
                                        <p><i class="fa fa-exclamation-circle"></i>No downloads available yet.</p>
                                        <a href="shop-sidebar">Go Shop</a>
                                    </div>
                                    <div class="table-content table-responsive">
                                        <form action="/user/updatedata" method="post" class="form form--account">

                                            <fieldset class="form__fieldset mb--20">
                                                <legend class="form__legend" >个人资料</legend>
                                                <div class="row grid-space-30 mb--20">
                                                    <div class="col-md-6 mb-sm--20">
                                                        <div class="form__group">
                                                            <label class="form__label" for="username">用户名<span
                                                                    class="required">*</span></label>
                                                            <input type="text" name="username" id="username" data-vv-as="用户名" v-validate="'required|alpha_dash|min:4|max:30|useful:1'"
                                                                   class="form__input" v-model="user.username">
                                                            <span style="color: red;" v-show="errors.has('username')">{{errors.first('username')}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb--20">
                                                    <div class="col-12">
                                                        <div class="form__group">
                                                            <label class="form__label" for="phone" >手机号码<span
                                                                    class="required">*</span></label>
                                                            <input type="text" name="phone" id="phone" disabled="true"
                                                                   class="form__input" v-validate="{required:true,regex:/^1[35678]\d{9}$/,useful:2}" v-model="user.phone">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb--20">
                                                    <div class="col-12">
                                                        <div class="form__group">
                                                            <label class="form__label" for="email">邮箱地址
                                                            <input type="email" name="email" id="email"
                                                                   class="form__input" v-model="user.email">
                                                            <span v-if="user.email == null">您还没有设置邮箱地址。</span>
                                                            <span id="mailWro"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb--20">
                                                    <div class="col-12">
                                                        <div class="form__group">
                                                            <label class="form__label" for="email">收货地址(默认情况下，结帐页面将使用以下地址。)</label>

                                                            <input type="text" name="address" id="address"
                                                                   class="form__input" v-model="user.address"><span v-if="user.address == null">您还没有设置这种类型的地址。</span>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form__group">
                                                            <input type="submit" value="保存"
                                                                   class="btn btn-style-1 btn-submit" id="saveBut">
                                                            <!--<c:if test="${not empty message}">${message}</c:if>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="addresses">
                                    <p class="mb--20"></p>
                                    <div class="row">
                                        <div class="col-md-6 mb-sm--20">
                                            <div class="text-block">
                                                <h4 class="mb--20" >收货地址</h4>
                                                <a href="">Edit</a>

                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->

    <!-- Footer Start -->
    <footer class="footer footer-3">
        <div class="footer-top pt--80 pt-md--60">
            <div class="container-fluid">
                <div class="row footer-row">
                    <div class="footer-column footer-column-1 order-first mb-xl--35 mb-md--30 mb-sm--20">
                        <!-- Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <div class="textwidget mb--30 mb-sm--20">
                                <a href="../index.html" class="footer-logo">
                                    <img src="../assets/img/logo/logo.png" alt="Logo" class="logo-img">
                                </a>
                            </div>
                            <div class="textwidget mr--40 mr-sm--0">
                                <p>Integer ut ligula quis lectus fringilla elementum porttitor sed est. Duis fringilla
                                    efficitur ligula sed lobortis.</p>
                            </div>
                        </div>
                        <!-- Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-2 order-xl-2 order-3 mb-sm--30 mb-xs--25">
                        <!-- Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25 mb-xs--20">Helful Link</h3>
                            <ul class="widget-menu">
                                <li><a href="shop-collections.html">The Collections</a></li>
                                <li><a href="#">Size Guide</a></li>
                                <li><a href="#">Return Policy</a></li>
                            </ul>
                        </div>
                        <!-- Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-3 order-xl-3 order-4 mb-sm--30">
                        <!-- Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25">Company Link</h3>
                            <ul class="widget-menu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="shop-collections.html">Portfolios</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Work for Zuka</a></li>
                            </ul>
                        </div>
                        <!-- Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-4 order-xl-4 order-5 mb-xs--25">
                        <!-- Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25">Openning Time</h3>
                            <ul class="widget-menu">
                                <li><span>Monday – Saturday</span></li>
                                <li><span>7:00 – 22:00</span></li>
                                <li><span>Sunday</span></li>
                                <li><span>9:00 – 20:00</span></li>
                            </ul>
                        </div>
                        <!-- Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-5 order-xl-5 order-6">
                        <!-- Contact Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25 mb-xs--20">Contact Info</h3>
                            <div class="widget_contact_info">
                                <ul>
                                    <li><i class="fa fa-phone"></i><span>(+612) 2531 5600</span></li>
                                    <li><i class="fa fa-envelope"></i><a
                                            href="mailto:info@company.com">info@company.com</a></li>
                                    <li><i class="fa fa-map-marker"></i><span>Get direction</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Contact Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-6 order-xl-6 order-2 mb-xl--35 mb-md--30 mb-xs--25">
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25 mb-xs--20">MailChimp Signup Form</h3>
                            <!-- Subscribe widget Start Here -->
                            <div class="subscribe-widget mb--30">
                                <form action="https://company.us19.list-manage.com/subscribe/post?u=2f2631cacbe4767192d339ef2&amp;id=24db23e68a"
                                      class="newsletter-form mc-form" method="post" target="_blank">
                                    <input type="email" name="EMAIL" id="newsletter_email"
                                           placeholder="Enter your email address.." required="required"
                                           class="newsletter-form__input">
                                    <button type="submit" class="newsletter-form__submit">Submit</button>
                                </form>
                            </div>
                            <!-- Subscribe widget End Here -->

                            <!-- Social Icons Start Here -->
                            <ul class="social social-medium">
                                <li class="social__item">
                                    <a href="https://twitter.com" class="social__link">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://plus.google.com" class="social__link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://facebook.com" class="social__link">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://youtube.com" class="social__link">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://instagram.com" class="social__link">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- Social Icons End Here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom pt--45 pb--50 pb-xs--45">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="copyright-text">&copy; 2018 ZUKA. Designed by HasTech</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Search from Start -->
    <!-- Search from End -->

    <!-- Side Navigation Start -->
    <!-- Side Navigation End -->

    <!-- Mini Cart Start -->
    <!-- Mini Cart End -->

    <!-- Global Overlay Start -->
    <!-- Global Overlay End -->

    <!-- Modal Start -->
    <!-- Modal End -->

</div>
<!-- Main Wrapper End -->


<!-- ************************* JS Files ************************* -->

<script type="text/javascript">
    Vue.use(VeeValidate, {
        events: 'blur',
        dictionary: {
            zh: {
                messages: {
                    required: (field) => field + '不能为空！',
                    min: (field, args) => field + '长度不能小于' + args[0],
                    max: (field, args) => field + '长度不能大于' + args[0],
                    alpha_dash: (field) => field + '只能包含数字、字母或下划线',
                    regex: (field) => field + "格式不正确",
                    is: () => "两次密码不一致"
                }
            }
        },
        locale: 'zh'
    });
    var account = new Vue({
        el: "#myAccount",
        name: "ls-account",
        data() {
            return {
                user: {},
                order:{},
            }
        },
        created() {
            // 验证登录，查询用户信息
            ly.verifyUser().then(resp => {
                this.user = resp.data;
                ly.http.get("/user/"+this.user.id).then(resp =>{
                    this.user = resp.data
                })
                ly.http.get("/order/orderQuery/"+this.user.id).then(resp =>{
                    this.order = resp.data
                    this.order.items.forEach(o => {
                        //截取字符串并替换其中T
                        o.createTime = this.stringsplit(o.createTime, ".").replace("T", " ");
                        o.status = this.statusStr(o.status)
                        })
                    })
            }) .catch(() => {
                // 去登录
                this.gotoLogin();
            });
            this.$validator.extend('useful', {
                getMessage(field, args, data) {
                    return args[0] === '1' ? '用户名' + data : '手机' + data;
                },
                validate(value, args) {
                    return new Promise(resolve => {
                        leyou.http.get("/user/check/" + value + "/" + args[0])
                            .then(resp => {
                                resolve({
                                    valid: resp.data,
                                    data: "已存在!"
                                })
                            })
                    });
                }
            })
        },
        methods: {
            gotoLogin() {
                window.location = "login.html?returnUrl=" + window.location;
            },
            stringsplit(str,s){
                return str.split(s)[0];
            },
            statusStr(i){
                //1、未付款 2、已付款,未发货 3、已发货,未确认 4、交易成功 5、交易关闭 6、已评价'
                if (i == 1){
                    return "未付款"
                } else if(i == 2){
                    return "已付款"
                }else if(i == 3){
                    return "未发货,未确认"
                }else if(i == 4){
                    return "交易成功"
                }else if(i == 5){
                    return "交易关闭"
                }else if(i == 6){
                    return "已评价"
                }
            },
        }
    });
</script>
<!-- All Plugins Js -->
<script src="/assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- REVOLUTION JS FILES -->
<script src="/assets/js/revoulation/jquery.themepunch.tools.min.js"></script>
<script src="/assets/js/revoulation/jquery.themepunch.revolution.min.js"></script>

<!-- REVOLUTION ACTIVE JS FILES -->
<script src="/assets/js/revoulation.js"></script>

</body>

</html>