<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <!-- Title -->
    <title>乐尚商城</title>

    <!-- ************************* CSS Files ************************* -->

    <!-- All Plugins CSS  -->
    <link rel="stylesheet" href="assets/css/plugins.css">

    <!-- Revoulation CSS  -->
    <link rel="stylesheet" href="assets/css/revoulation.css">

    <!-- style CSS -->
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- modernizr JS
    ============================================ -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- ************************* Vue Files ************************* -->
    <script src="assets/js/vue/vue.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script>Vue.config.productionTip = false</script>
</head>

<body class="default-color">

<!-- Preloader Start -->
<div class="zuka-preloader active">
    <div class="zuka-preloader-inner h-100 d-flex align-items-center justify-content-center">
        <div class="zuka-child zuka-bounce1"></div>
        <div class="zuka-child zuka-bounce2"></div>
        <div class="zuka-child zuka-bounce3"></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Main Wrapper Start -->
<div class="wrapper" id="wishlistApp">
    <!-- Header Area Start -->
    <!-- 头部栏位 -->
    <header class="header header-st yle-3" id="nav-top">
        <shortcut/>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area pt--40 pb--30 pb-md--20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="page-title">收藏夹</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="index.html">主页</a></li>
                        <li class="current"><span>收藏夹</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div id="content" class="main-content-wrapper">
        <div class="page-content-inner">
            <div class="container">
                <div class="row pt--50 pt-md--40 pt-sm--20 pb--65 pb-md--45 pb-sm--25">
                    <div class="col-12" id="main-content">
                        <div class="table-content table-responsive">
                            <table class="table table-style-2 wishlist-table text-center">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th class="text-left">商品</th>
                                    <th>库存状态</th>
                                    <th>商品状态</th>
                                    <th>价格:</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in collectList" :key="item.id">
                                    <td class="product-remove text-left" ><a href="" @click.prevent="deleteCollect(user.id,item.id)"><i  class="dl-icon-close"></i></a></td>
                                    <td class="product-thumbnail text-left">
                                        <img :src="item.image" :alt="item.sellPoint">
                                    </td>
                                    <td class="product-name text-left wide-column">
                                        <h3>
                                            <a href="product-details.html" v-text="item.title"></a>
                                        </h3>
                                    </td>
                                    <td class="product-stock" v-if="item.num > 0">
                                        库存充足
                                    </td>
                                    <td class="product-stock" v-else>
                                        库存不足
                                    </td>
                                    <td class="product-stock" v-if="item.status == 1">
                                        商品正常
                                    </td>
                                    <td class="product-stock" v-else-if="item.status == 2">
                                        商品已下架
                                    </td>
                                    <td class="product-stock" v-else="item.status == 3">
                                        商品已删除
                                    </td>
                                    <td class="product-price">
                                                <span class="product-price-wrapper">
                                                    <span class="money" v-text="stringPrice(item.price)"></span>
                                                </span>
                                    </td>
                                    <td class="product-action-btn">
                                        <a href="cart.html" @click.prevent="addCart(item)">加入购物车</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->

    <!-- Footer Start -->
    <footer class="footer footer-3 border-top">
        <div class="footer-top pt--80 pt-md--60">
            <div class="container-fluid">
                <div class="row footer-row">
                    <div class="footer-column footer-column-1 order-first mb-xl--35 mb-md--30 mb-sm--20">
                        <!-- Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <div class="textwidget mb--30 mb-sm--20">
                                <a href="index.html" class="footer-logo">
                                    <img src="assets/img/logo/logo.png" alt="Logo" class="logo-img">
                                </a>
                            </div>
                            <div class="textwidget mr--40 mr-sm--0">
                                <p>Integer ut ligula quis lectus fringilla elementum porttitor sed est. Duis fringilla efficitur ligula sed lobortis.</p>
                            </div>
                        </div>
                        <!-- Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-2 order-xl-2 order-3 mb-sm--30 mb-xs--25">
                        <!-- Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25 mb-xs--20">帮助</h3>
                            <ul class="widget-menu">
                                <li><a href="shop-collections.html">The Collections</a></li>
                                <li><a href="#">尺码表</a></li>
                                <li><a href="#">退换货</a></li>
                            </ul>
                        </div>
                        <!-- Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-3 order-xl-3 order-4 mb-sm--30">
                        <!-- Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25">公司 Link</h3>
                            <ul class="widget-menu">
                                <li><a href="about-us.html">关于我们</a></li>
                                <li><a href="shop-collections.html">Portfolios</a></li>
                                <li><a href="#">我们的服务</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Work for Zuka</a></li>
                            </ul>
                        </div>
                        <!-- Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-4 order-xl-4 order-5 mb-xs--25">
                        <!-- Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25">营业时间</h3>
                            <ul class="widget-menu">
                                <li><span>周一 – 周六</span></li>
                                <li><span>7:00 – 22:00</span></li>
                                <li><span>周日</span></li>
                                <li><span>9:00 – 20:00</span></li>
                            </ul>
                        </div>
                        <!-- Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-5 order-xl-5 order-6">
                        <!-- Contact Widget Start Here -->
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25 mb-xs--20">联系 信息</h3>
                            <div class="widget_contact_info">
                                <ul>
                                    <li><i class="fa fa-phone"></i><span>(+612) 2531 5600</span></li>
                                    <li><i class="fa fa-envelope"></i><a href="mailto:info@company.com">info@company.com</a></li>
                                    <li><i class="fa fa-map-marker"></i><span>Get direction</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Contact Widget End Here -->
                    </div>
                    <div class="footer-column footer-column-6 order-xl-6 order-2 mb-xl--35 mb-md--30 mb-xs--25">
                        <div class="footer-widget text-center text-sm-left">
                            <h3 class="widget-title mb--25 mb-xs--20">MailChimp Signup Form</h3>
                            <!-- Subscribe widget Start Here -->
                            <div class="subscribe-widget mb--30">
                                <form action="https://company.us19.list-manage.com/subscribe/post?u=2f2631cacbe4767192d339ef2&amp;id=24db23e68a" class="newsletter-form mc-form" method="post" target="_blank">
                                    <input type="email" name="EMAIL" id="newsletter_email" placeholder="输入你的邮箱地址" required="required" class="newsletter-form__input">
                                    <button type="submit" class="newsletter-form__submit">提交</button>
                                </form>
                            </div>
                            <!-- Subscribe widget End Here -->

                            <!-- Social Icons Start Here -->
                            <ul class="social social-medium">
                                <li class="social__item">
                                    <a href="https://twitter.com" class="social__link">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://plus.google.com" class="social__link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://facebook.com" class="social__link">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://youtube.com" class="social__link">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="https://instagram.com" class="social__link">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- Social Icons End Here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom pt--45 pb--50 pb-xs--45">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="copyright-text">&copy; 2018 ZUKA. Designed by HasTech</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Search from Start -->
    <!-- Search from End -->

    <!-- Side Navigation Start -->
    <!-- Side Navigation End -->

    <!-- Mini Cart Start -->
    <aside :class="ly.show?'mini-cart open':'mini-cart'" id="miniCart">
        <div class="mini-cart-wrapper">
            <a href="" class="btn-close" @click.prevent="ly.minCart"><i class="dl-icon-close"></i></a>
            <div class="mini-cart-inner">
                <h5 class="mini-cart__heading mb--40 mb-lg--30">购物车</h5>
                <div class="mini-cart__content">
                    <ul class="mini-cart__list" >
                        <li class="mini-cart__product" v-for="(cart,i) in carts" :key="i">
                            <a href="#" class="remove-from-cart remove" @click.prevent="deleteCart(i)" >
                                <i class="dl-icon-close"></i>
                            </a>
                            <div class="mini-cart__product__image">
                                <img :src="cart.image" alt="products">
                            </div>
                            <div class="mini-cart__product__content">
                                <a class="mini-cart__product__title" href="single-product.html" v-text="cart.title"></a>
                                <span class="mini-cart__product__quantity" v-text="cart.num+' x '+cart.price+'.00'"></span>
                            </div>
                        </li>
                    </ul>
                    <div class="mini-cart__total">
                        <span>小计:</span>
                        <span class="ammount" v-text="totalPrice+'.00'"></span>
                    </div>
                    <div class="mini-cart__buttons">
                        <a href="cart.html" class="btn btn-fullwidth btn-style-1">查看购物车</a>
                        <a href="#" class="btn btn-fullwidth btn-style-1" @click.prevent="toOrderInfo">结算</a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- Mini Cart End -->

    <!-- Global Overlay Start -->
    <div :class="ly.show?'zuka-global-overlay overlay-open':'zuka-global-overlay'" @click.prevent="ly.minCart"></div>
    <!-- Global Overlay End -->

    <!-- Modal Start -->
    <div class="modal fade product-modal" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="dl-icon-close"></i></span>
                    </button>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="zuka-element-carousel product-image-carousel nav-vertical-center nav-style-1"
                                 data-slick-options='{
                                    "slidesToShow": 1,
                                    "slidesToScroll": 1,
                                    "arrows": true,
                                    "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                    "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                }'
                            >
                                <div class="product-image">
                                    <div class="product-image--holder">
                                        <a href="single-product.html">
                                            <img src="assets/img/products/prod-7-1.jpg" alt="Product Image" class="primary-image">
                                        </a>
                                    </div>
                                    <span class="product-badge sale">sale</span>
                                </div>
                                <div class="product-image">
                                    <div class="product-image--holder">
                                        <a href="single-product.html">
                                            <img src="assets/img/products/prod-7-2.jpg" alt="Product Image" class="primary-image">
                                        </a>
                                    </div>
                                    <span class="product-badge sale">sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

</div>
<!-- Main Wrapper End -->


<!-- ************************* JS Files ************************* -->

<!-- All Plugins Js -->
<script src="assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>

<!-- REVOLUTION JS FILES -->
<script src="assets/js/revoulation/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/revoulation/jquery.themepunch.revolution.min.js"></script>

<!-- REVOLUTION ACTIVE JS FILES -->
<script src="assets/js/revoulation.js"></script>
<script type="text/javascript">
    var myWishlistApp = new Vue({
        el: "#wishlistApp",
        name:"ls-wishlist",
        data: {
            ly,
            cart,
            carts: [],// 购物车数据
            freight: 20,    //运费
            collectList:[], //收藏集合
            user:{},
        },
        created() {
            this.loadCarts();
        },
        methods: {
            loadCarts() {
                // 先判断登录状态
                ly.verifyUser().then(resp => {
                    // 登陆状态，查看本次localStorage是否存有购物车信息
                    const localCarts = ly.store.get("carts");
                    this.user = resp.data;
                    //查询收藏表
                    this.queryCollect(this.user.id);
                    // 如果本地存有购物车信息，则发送至后台保存，然后删除本地的
                    if (localCarts) {
                        ly.http.post("/cart/addLocal", localCarts)
                            .then(() => {
                                ly.store.del("carts");
                                this.getCartList();
                            });
                    } else {
                        this.getCartList();
                    }
                }).catch(() => {
                    // 未登录
                    this.carts = ly.store.get("carts") || [];
                    this.cartNum()
                })

            },
            queryCollect(uid){
                ly.http.get("/user-service/collect",{
                    params:{
                        uid:uid
                    }
                }).then(resp => {
                    this.collectList = resp.data;
                })
            },
            deleteCollect(uid,spuId){
               if(confirm("确定要删除该收藏吗？")){
                   ly.http.delete("/user-service/collect",{
                       params:{
                           uid:uid,
                           spuId:spuId
                       }
                   }).then(resp => {
                       //查找到该商品
                       var index = this.collectList.findIndex(item =>{
                           if(item.id == spuId){
                               return true
                           }
                       });
                       console.log(index)
                       this.collectList.splice(index,1);
                   })
               }

            },
            getCartList(){
                ly.http.get("/cart").then(({data}) => {
                    // 已登录
                    this.carts = data || [];
                    this.cartNum()
                    this.selectAll = true;
                });
            },
            deleteCart(i) {
                ly.verifyUser().then(res => {
                    // TODO，已登录购物车
                    ly.http.delete("/cart/"+this.carts[i].id).then(() => {
                        this.carts.splice(i,1)
                    })
                }).catch(() => {
                    // 未登录购物车
                    this.carts.splice(i, 1);
                    ly.store.set("carts", this.carts);
                })
                this.cartNum()
            },
            stringPrice(price){
                return "$ "+price+".00";
            },
            // 点击结算，跳转至订单页面
            toOrderInfo(){
                // 判断是否登陆
                ly.verifyUser().then(() => {
                    // 登陆状态时,跳转至下订单页面
                    // 将用户选择的商品存在本地
                    ly.store.set("selectedCarts",this.carts);
                    window.location.href = "/checkout.html";
                }).catch(() => {
                    // 未登陆状态时，跳转至登陆页面
                    window.location.href = "/login.html?returnUrl="+window.location.href;
                })
            },
            cartNum(){
                cart.num = this.carts.length;
                cart.carts = this.carts;
            },
            addCart(item) {  //添加购物车
                // 判断是否登录
                ly.verifyUser().then(() => {
                    // 已登录
                    ly.http.post("/cart", {
                        id: item.id,
                        title:item.title,
                        image:item.image,
                        price:item.price,
                        num:1,
                        stock:item.num,//商品库存
                        sellPoint:item.sellPoint
                    }).then(() => {
                        // 跳转到购物车列表页
                        window.location.href = "http://www.leshang.com/cart.html";
                    }).catch(() => {
                        alert("添加购物车失败，请重试！");
                    })
                }).catch(() => {
                    // 获取以前的购物车
                    const carts = ly.store.get("carts") || [];
                    // 获取与当前商品id一致的购物车数据
                    const cart = carts.find(i => i.id === id); //查找到该商品
                    if (cart) {
                        // 存在，修改数量
                        cart.num += this.num;
                    } else {
                        // 不存在，新增
                        carts.push({
                            id: this.item.id,
                            title: this.item.title,
                            image: this.item.image,
                            price: this.item.price,
                            num:1,
                            stock:this.item.num,    //商品库存
                            sellPoint:this.item.sellPoint
                        })
                    }
                    // 未登录
                    ly.store.set("carts", carts);
                    // 跳转到购物车列表页
                    window.location.href = "http://www.leshang.com/cart.html";
                })
            }

        },
        computed: {
            //计算总价格
            totalPrice() {
                return this.carts.reduce((c1, c2) => c1 + c2.num * c2.price, 0);
            },


        },
        components:{
            shortcut:() => import('./assets/js/pages/shop.js')      //头部引入
        }

    })
</script>
</body>

</html>